.team{
   background:#10987e;
}
.team h3{
   margin:0px;
   padding:5px 15px;
   font-size:2rem;
   color:#abf5e7;
   font-weight:bold;
   text-transform:uppercase;
   letter-spacing:0.6rem;
}

.team-box{
   padding-bottom:5px;
   background-color:#10987e;
}

.team-member-box{
   background-color:#1ab99b;
   border:1px solid #10987e;
   border:1px solid #10987e;
}

.member-avatar,
.member-info{
   display:table-cell;
   padding:10px;
   vertical-align:middle;
}
.member-avatar{
   width:30%;
   text-align:right;
}
.member-info{
   font-size:2rem;
   font-weight:bold;
   text-align:center;
   color:#02655a;
}